.main {
  height: 60px;
  width: 414px;
  flex-shrink: 0;
  background: #1E1E1E;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
}

.nameRole {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: #727272;
}

.name {
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.role {
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.content {
  display: flex;
  /* width: 100%; */
  justify-content: center;
  align-items: flex-end !important;
  flex-direction: column;
  color: #979494;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content p {
  padding-left: 100px;
}

.terms {
  display: flex;
  text-decoration: underline;
  padding-left: 18px;
}